@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(OratorStd.otf);

body {
    font-family: Montserrat;
}
.title {
    text-align: center;
}
md-toolbar {
    padding: 0 30px;
}
button.goButton {
    background-color: #78e578;
}
button.goButton:hover {
    background-color: #6bc96b;
}
.md-button.goButton:not([disabled]):hover {
    background-color: #6bc96b;   
}
.smallText {
    font-size: small;
    color: white;
}
.picture {
    width: 100px;
    height: 100px;
    background-color: blue;            
}

.showScreen3 {
    transition: 2s;
}
.mainContainer {
    // background-image: url(../assets/blurry-sunset.jpg);
    background-image: url('https://xtensio.blob.core.windows.net/images/big/9pz49ca1/MQ2PDDCQn0qfUSIV7b9JIQ.jpg');
    min-height: 650px;
}
.howItWorks {
    section {
        width: 350px;
        height: 280px;
        padding: 20px;
        box-sizing: border-box;
        border-bottom: 2px solid #dadada;
        border-right: 1px solid #dadada;
        opacity: .8;
        .image {
            width: 280px;
            height: 130px;
            background-size: 400px;
            background-color: transparent;
            opacity: .8;
            &.howItWorks1 {
                background-image: url(../assets/1.png);
                background-position: -53px -38px;
            }
            &.howItWorks2 {
                background-image: url(../assets/2.png);
                background-position: -80px -50px;
            }            
            &.howItWorks3 {
                background-image: url(../assets/3.png);
                background-size: 400px;
                background-position: -75px -57px;
            }
            &.howItWorks4 {
                background-image: url(../assets/4.png);
                background-position: -56px -38px;
                background-size: 373px;
                width: 280px;
            }                              
        }
        h2 {
            height: 75px;
            text-align: center;
        }        
    }
    .bar {
        border-bottom: 1px solid #dadada;
        button {
            margin: 0 auto;
            display: block;
            background-color: white;
            border-radius:0px;
        }
    }
}



.shadeSection {
    background-color: #dadada;
}

md-content {
    background: none;
}
.logo {
    background-image: url(../assets/stereo.png);
    width: 300px;
    height: 300px;
    background-size: 300px;
}
.mainTitle {
    text-align: center;
    margin-bottom: 0;
    font-family: oratorstd;
    color: white;
    font-size: 50px;    
}
.mainButton {
    background-color: #3F51B5;
    color: white;
    width: 200px;
    display: block;
    margin: 10px auto;
}
md-toolbar.menu {
    background-color: transparent;
}
.menu .md-button {
    max-height: 36px;
    min-width: 120px;
}
.mainPhrase {
    color: white;
    text-align: center;
    margin-top: 0;
    font-size: 25px;
}