@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(OratorStd.otf);
body {
  font-family: Montserrat;
  background-color: #4a4a4a; }

.title {
  text-align: center; }

md-toolbar {
  padding: 0 30px; }

button.goButton {
  background-color: #78e578; }

button.goButton:hover {
  background-color: #6bc96b; }

.md-button.goButton:not([disabled]):hover {
  background-color: #6bc96b; }

.smallText {
  font-size: small;
  color: white; }

.picture {
  width: 100px;
  height: 100px;
  background-color: blue; }

.showScreen3 {
  transition: 2s; }

.mainContainer {
  background-image: url("https://xtensio.blob.core.windows.net/images/big/9pz49ca1/MQ2PDDCQn0qfUSIV7b9JIQ.jpg");
  min-height: 650px; }

.rocket {
  background-image: url(http://ufldl.stanford.edu/wiki/images/8/81/Cartoon_Moon_Rocket.png);
  width: 64px;
  height: 108px;
  position: absolute;
  left: 842px;
  top: 357px;
  background-size: 63px;
  background-repeat: no-repeat;
  -webkit-transform: rotate(45deg); }

.buttonIcon {
  color: white;
  fill: currentcolor; }

.howItWorks {
  background-color: #fdfdfd; }
  .howItWorks section {
    width: 350px;
    height: 280px;
    padding: 20px;
    box-sizing: border-box;
    border-bottom: 2px solid #dadada;
    border-right: 1px solid #dadada;
    opacity: .8; }
    .howItWorks section .image {
      width: 280px;
      height: 130px;
      background-size: 400px;
      background-color: transparent;
      opacity: .8; }
      .howItWorks section .image.howItWorks1 {
        background-image: url(../assets/1.png);
        background-position: -53px -38px; }
      .howItWorks section .image.howItWorks2 {
        background-image: url(../assets/2.png);
        background-position: -80px -50px; }
      .howItWorks section .image.howItWorks3 {
        background-image: url(../assets/3.png);
        background-size: 400px;
        background-position: -75px -57px; }
      .howItWorks section .image.howItWorks4 {
        background-image: url(../assets/4.png);
        background-position: -56px -38px;
        background-size: 373px;
        width: 280px; }
    .howItWorks section h2 {
      height: 75px;
      text-align: center; }
  .howItWorks .bar {
    border-bottom: 1px solid #dadada; }
    .howItWorks .bar button {
      margin: 0 auto;
      display: block;
      background-color: white;
      border-radius: 0px; }

.shadeSection {
  background-color: #dadada; }

md-content {
  background: none; }

.logo {
  background-image: url(../assets/stereo.png);
  width: 300px;
  height: 300px;
  background-size: 300px; }

.mainTitle {
  text-align: center;
  margin-bottom: 0;
  font-family: oratorstd;
  color: rgba(43, 43, 43, 0.87);
  font-size: 50px; }

.mainButton {
  background-color: #7298ad;
  color: white;
  width: 200px;
  display: block;
  margin: 10px auto; }
  .mainButton:hover {
    background-color: #7298ad !important; }

md-toolbar.menu {
  background-color: transparent; }

.menu .md-button {
  max-height: 36px;
  min-width: 120px;
  background-color: rgba(43, 43, 43, 0.87);
  color: #e0e0e0; }
  .menu .md-button:hover {
    background-color: rgba(43, 43, 43, 0.87) !important; }

.menu.genre {
  background-color: #4a4a4a;
  height: 45px;
  min-height: 45px; }

.mainPhrase {
  color: rgba(43, 43, 43, 0.87);
  text-align: center;
  margin-top: 0;
  font-size: 25px; }

md-toolbar.titleToolbar {
  background-color: #1b5290;
  height: 50px; }
  md-toolbar.titleToolbar h3 {
    line-height: 15px; }

.discoveryContainer {
  background-color: #1f1f1f;
  min-height: 500px;
  padding: 30px 50px; }
  .discoveryContainer .artistCollection {
    width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap; }

.artistAlbum {
  width: 210px;
  height: 150px;
  background-color: #272626;
  margin: 20px;
  display: inline-block;
  min-height: 211px;
  border: 1px solid #353535;
  box-shadow: 0px 0px 0px 0px;
  transition: .5s; }
  .artistAlbum:hover {
    box-shadow: 0px 0px 9px 0px rgba(255, 255, 255, 0.24) !important;
    transition: .5s; }
  .artistAlbum .albumCover {
    background-color: gray;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    margin: 17px auto 0px; }
    .artistAlbum .albumCover.monPic {
      background-image: url("http://img2-ak.lst.fm/i/u/300x300/438f0a4fc7e5385cf781ef4da39fa911.png");
      background-size: 150px; }
    .artistAlbum .albumCover.RubiPic {
      background-image: url("../assets/rubs.jpg");
      background-size: 150px; }
    .artistAlbum .albumCover.BerPic {
      background-image: url("../assets/ber.jpg");
      background-size: 150px; }
    .artistAlbum .albumCover.SotoMayPic {
      background-image: url("http://www.freim.tv/wp-content/uploads/2015/01/soto.jpg");
      background-size: 290px;
      background-position-x: 221px; }
    .artistAlbum .albumCover.BabasPic {
      background-image: url("http://3.bp.blogspot.com/_qmiOxoxKdPI/SeXuvVaiYuI/AAAAAAAAARc/fWtsqbKPkWY/s400/1BABASONICOS20MZO.jpg");
      background-size: 150px; }
  .artistAlbum .artistName {
    display: block;
    text-align: center;
    padding: 11px;
    min-height: 30px;
    color: white;
    text-shadow: 0px 0px 10px; }

.artistMediaContainer {
  height: 250px;
  background-color: aliceblue; }
  .artistMediaContainer .container {
    width: 805px;
    margin: 0 auto; }
    .artistMediaContainer .container .contentLeft {
      width: 400px;
      border: 1px solid gray;
      height: inherit; }
    .artistMediaContainer .container .contentRight {
      width: 400px;
      border: 1px solid gray;
      height: inherit; }
