<!-- Timeline -->
<div class="timeline">
	<div class="header">
		<span class="sectionTitle bold">Experience.</span>		
	</div>
	<div class="timelineContainer">
	    <div class="timelineSegmentContainer years">
			<button class="timelineSegment first" md-button><span class="year">2011</span></button>
			<button class="timelineSegment second" md-button><span class="year">2012</span></button>
			<button class="timelineSegment third" md-button><span class="year">2013</span></button>
			<button class="timelineSegment fourth" md-button><span class="year">2014</span></button>
			<button class="timelineSegment fifth" md-button><span class="year">2015</span></button>
			<button class="timelineSegment sixt" md-button><span class="year">2016</span></button>
			<span class="year">Now</span>
	    </div>	
	    <div class="timelineSegmentContainer company">
	    	<button
	    		md-button 
	    		*ngFor="let experience of companyExperience"
	    		(click)="selectedExperience(experience.name)" 
	    		class="timelineSegment {{experience.id}}">
	    		<span class="company">{{experience.name}}</span>
	    	</button>
	    </div>		
	</div>	
</div>	
<!-- Latest working experience - Accenture -->
<div *ngIf="slider > 80">
	<!-- Experience header -->
	<div class="experienceHeader">
		<div class="columnLeft">
			<img src="https://media.licdn.com/mpr/mpr/shrinknp_100_100/AAEAAQAAAAAAAAeSAAAAJDE5ZmVhOTBlLTU4YzctNDI0NC05NmQ0LTJmYTdiMGJjMzY3Nw.png">
		</div>
		<div class="columnCenter">
			<span class="companyName bold">{{company}}</span>
			<div class="title">UI Software Engineer Team Lead | New York City, NY</div>
		</div>
		<div class="columnRight">
			<span class="date">April 2016 - Now</span>				
		</div>			
	</div>
	<!-- Experience Content -->
	<div class="experienceContent">
		<p class="descriptionTitle bold">Description.</p>
		<p class="regularText">Design and development of financial applications for global markets such as stock trading pricers,  sales tools for traders and notifications applications. Working across different teams and taking ownership of the UI, co working with the product manager, designer and back-end developers for the delivery.</p>
		<span class="descriptionTitle bold">Technologies and tools used.</span>
		<p class="regularText">Angular.js | Angular Cli | Angular Material | LESS | SASS | Node | NPM | Gulp | C# | Microsoft TFS</p>
		<span class="descriptionTitle bold">Work:</span>
		<ul>
			<li>Lead the user interface design implementation of financial interactive applications.</li>
			<li>Dynamic rendering of notifications with real time streams of data.</li>
			<li>UI performance testing/enhancement.</li>
			<li>Design and development of financial widgets including micro interactions.</li>
			<li>MVVM application, development of custom directives and reusable UI components.</li>
			<li>Extending and customizing Angular Material components, modified the Angular Material core.</li>
			<li>Coach and Mentor developers and designers.</li>
		</ul>
		<span class="descriptionTitle bold">Acomplishments:</span>
		<ul>
			<li>Custom UI developed from scratch: Typeahead fast search, Dynamic Tables, Modal windows, Dynamic carousels, Toolbars, Infinite scroll, Collapsibles, Dropdowns, Interactive dashboards.</li>
			<li>Defined the structure of front end guidelines with an unified UI library.</li>
			<li>Multiple prototypes delivered for 4 financial applications; 16-32 hours in average needed for initial UI prototyping with Angular using mock data for the data structures.</li>
			<li>Improved performance rendering of data with more than 5000 records by implementing an interactive lazy loading, time improvement from 12s to less than 1s.</li>
			<li>Implemented filters and sorting options over collections of data with vanilla JavaScript and Angular.js filters.</li>
			<li>Delivery of interfaces for 4 financial applications using Angular Material and Material Design.</li>
			<li>Implementation of search and sorting algorithms with JavaScript.</li>
		</ul>	
	</div>		
</div>
<!-- Accenture Florida -->
<div  *ngIf="slider <= 80 && slider >= 60">
	<!-- Experience header -->
	<div class="experienceHeader">
		<div class="columnLeft">
			<img src="https://media.licdn.com/mpr/mpr/shrinknp_100_100/AAEAAQAAAAAAAAeSAAAAJDE5ZmVhOTBlLTU4YzctNDI0NC05NmQ0LTJmYTdiMGJjMzY3Nw.png">
		</div>
		<div class="columnCenter">
			<span class="companyName bold">{{company}}</span>
			<div class="title">UI Software Engineer Team Lead | Jacksonville, FL.</div>
		</div>
		<div class="columnRight">
			<span class="date">May 2015 - March 2016</span>				
		</div>			
	</div>
	<!-- Experience Content -->
	<div class="experienceContent">
		<p class="descriptionTitle bold">Description.</p>
		<p class="regularText">Development of financial applications for iPad and interactive touch Kiosks. Collaborated with back-end developers, IT architects, visual designers, product designers, product managers and hardware engineers in distributed teams in France, India an other US locations.</p>
		<span class="descriptionTitle bold">Technologies and tools used.</span>
		<p class="regularText">Backbone.js | Marionette | Underscore | CoffeeScript | LESS | Node.js | NPM | Grunt | Jasmine | Istanbul | SonarQube</p>
		<span class="descriptionTitle bold">Work:</span>
		<ul>
			<li>Participated in daily scrum meetings and co worked with the team doing sprint planning, defining user stories and breaking down tasks for every sprint.</li>
			<li>Development of JavaScript MVC single page applications.</li>
			<li>Owned, enhanced and developed product features.</li>
			<li>Co-worked with the team for defining the web architecture of new applications and proof of concepts.</li>
			<li>Defect tracking and solving through development, integration, pre-prod and production environments using Kanban.</li>
			<li>Automated testing of JavaScript modules with the local and offshore team in India.</li>
		</ul>
		<span class="descriptionTitle bold">Acomplishments:</span>
		<ul>
			<li>Delivered an UI pixel perfect library of reusable components and layouts using Backbone and Underscore templates.</li>
			<li>Improved gestures and the touch experience for touch Kiosks and iPad web interfaces.</li>
			<li>Refactored UI components for iPad web applications.</li>
			<li>Implemented JavaScript unit testing for web applications using Jasmine.</li>
		</ul>	
	</div>		
</div>
<!-- IBM Interactive -->
<div  *ngIf="slider <= 60 && slider >= 50 ">
	<!-- Experience header -->
	<div class="experienceHeader">
		<div class="columnLeft">
			<img src="https://media.licdn.com/mpr/mpr/shrinknp_100_100/AAEAAQAAAAAAAAwZAAAAJDMyZmQ4ZWRiLTU2ZjctNDg0ZS05MzY2LTUyOTk0N2VhNjRmNQ.png">
		</div>
		<div class="columnCenter">
			<span class="companyName bold">IBM Interactive Experience.</span>
			<div class="title">Front-End Lead | México City, MX.</div>
		</div>
		<div class="columnRight">
			<span class="date">March 2014 - February 2015</span>				
		</div>			
	</div>
	<!-- Experience content -->
	<div class="experienceContent">
		<p class="descriptionTitle bold">Description.</p>
		<p class="regularText">Worked in one of the largest cross-platform transformations between IBM and one of the top banks in México. Development of transactional personal web banking and business banking. Collaborated with functional back-end developers, enterprise IT architects, visual designers, business analysts, QA, product managers and senior management. Cross collaboration with the offshore team from Spain for developing modules of the application.</p>
		<span class="descriptionTitle bold">Technologies and tools used.</span>
		<p class="regularText">Dojo Toolkit | jQuery | LESS | Grunt.js | Yeoman | IBM BTT | IBM RAD | IBM RTC | WebSphere Portal | Java Server Pages | Websphere Application Server | GIT</p>
		<span class="descriptionTitle bold">Work:</span>
		<ul>			
			<li>Co worked with the team for defining the front-end architecture, file compilation and optimization, module loading and builds.</li>
			<li>Coded UI pixel perfect interactive widgets and layouts with JavaScript and LESS CSS3.</li>
			<li>Co worked with the China’s IBM laboratory for developing custom UI for the IBM Bank Transformation Toolkit modules.</li>
			<li>Applied technical interviews for hiring new team members, onboarding and mentoring the newcomers.</li>
			<li>Handled product related defects/issues using Kanban and HP ALM for 60 modules targeting, integration, UAT and production environments.</li>
		</ul>
		<span class="descriptionTitle bold">Acomplishments:</span>
		<ul>
			<li>Delivered with the team cross browser front-end code for Chrome, IE 9+, Safari for iPad and the native browser of the Android Galaxy tablet.</li>
			<li>Delivered multiple HTML5 interactive prototypes for being tested by the product managers and transformation directors.</li>
			<li>Designed with the team the implementation of themes resulting in more than 95% of code reused.</li>
			<li>Delivered with the team urgent fixes for more than 90 defects after the first release to production environments.</li>
			<li>Delivered web user interfaces for more than 60 banking operations / modules.</li>
			<li>The project became a case study for improving the user experience in banking.</li>
			<li>Other facts: Two years later the bank was named as bank of the year for 2016 by The Banker and for early 2017 was in the top 3 of the most profitable banks in the country.</li>
		</ul>	
	</div>		
</div>
<!-- KMMX -->
<div  *ngIf="slider <= 50 && slider >= 40 ">
	<!-- Experience header -->
	<div class="experienceHeader">
		<div class="columnLeft">
			<img src="https://media.licdn.com/mpr/mpr/shrinknp_100_100/p/1/000/0c2/194/0cd4f8e.png">
		</div>
		<div class="columnCenter">
			<span class="companyName bold">KMMX.</span>
			<div class="title">Mobile and Front-end trainer | México City, MX.</div>
		</div>
		<div class="columnRight">
			<span class="date">September 2013 - March 2014</span>				
		</div>			
	</div>
	<!-- Experience content -->
	<div class="experienceContent">
		<p class="descriptionTitle bold">Description.</p>
		<p class="regularText">Worked as an instructor for front-end, mobile web and hybrid applications. Trained enterprise teams for updating their web development skills, usually teaching to groups of 3-8 people in 30-50 hour courses.</p>
		<span class="descriptionTitle bold">Technologies and tools used.</span>
		<p class="regularText">HTML5 | CSS3 | JavaScript | jQuery Mobile | Xcode | Android SDK & ADT | Eclipse | Sencha Touch | Phonegap API | Mustache.js | GIT</p>
		<span class="descriptionTitle bold">Work:</span>
		<ul>
			<li>Guided the students from using old web standards to learn HTML5 APIs, JavaScript and CSS3.</li>
			<li>Taught the use of Xcode and Eclipse for developing hybrid mobile apps.</li>
			<li>Taught the fundamentals of JavaScript, how object oriented programming works on JavaScript compared with other OOP languages such as C# and Java.</li>
			<li>Taught how to parse JSON server responses with AJAX and integrate it into a mobile application.</li>
			<li>Taught the use of Back End as a service (BaaS) with the Parse API.</li>
			<li>Taught how to develop interactive single page applications with jQuery and handlebars and mustache templates.</li>
			<li>Taught the use of Adobe Phonegap (Apache Cordova) JavaScript API for developing mobile web apps.</li>
			<li>Taught the use of control version with GIT and Github.</li>
			<li>Taught the use of the Sencha command line interface and Sencha Touch MVC development.</li>
		</ul>
	</div>		
</div>
<!-- KTC - Profuturo -->
<div  *ngIf="slider <= 40 && slider >= 0">
	<!-- Experience header -->
	<div class="experienceHeader">
		<div class="columnLeft">
			<img src="https://media.licdn.com/mpr/mpr/shrinknp_100_100/p/6/005/088/25d/2c3e308.png">
		</div>
		<div class="columnCenter">
			<span class="companyName bold">KTC Agency - Profuturo GNP.</span>
			<div class="title">Mobile and Front-end developer | México City, MX.</div>
		</div>
		<div class="columnRight">
			<span class="date">January 2013 - October 2013</span>				
		</div>			
	</div>
	<!-- Experience content -->
	<div class="experienceContent">
		<p class="descriptionTitle bold">Description.</p>
		<p class="regularText">Development of web, mobile and tablet interactive interfaces for investment funds and insurance company. Co worked with visual designers, experience designers, copywriters, back-end developers and project managers.</p>
		<span class="descriptionTitle bold">Technologies and tools used.</span>
		<p class="regularText">HTML5 | CSS3 | LESS | jQuery | Sencha Touch | Pure.js | Phonegap CLI (Cordova) | Xcode | Android SDK | GIT</p>
		<span class="descriptionTitle bold">Work:</span>
		<ul>
			<li>Coded front-end guide lines based on UX design specifications.</li>	
			<li>Used the sencha touch mvc for developing hybrid mobile web apps.</li>
			<li>Coded UI pixel perfect interactive widgets and layouts with JavaScript and LESS.</li>
			<li>Used the Phonegap (Cordova) JavaScript API for integrating hardware mobile functionalities.</li>
			<li>Hybrid mobile application development for Android and iOS.</li>
			<li>Deliver across the entire life cycle requirements capture, design, build, deploy, test, and release to the app store and support</li>
		</ul>
		<span class="descriptionTitle bold">Acomplishments:</span>
		<ul>
			<li>Delivered an interactive dashboard application optimized for iPad and the native browser of the Android tablets.</li>
			<li>Delivered and interactive mobile web application optimized for iphone 5 and android.</li>
			<li>Added functionality to an existing Sencha Touch iOS and Android application.</li>
		</ul>	
	</div>		
</div>