        <!-- Container - 4 -->
        <md-content flex class="mainContainer" layout="column" layout-align="center center"
            ng-show="ctrl.showScreen4">
            <!-- Content -->
            <md-content>
                <div layout="row" layout-align="center center">
                    <h3>Meet her at:</h3>                                
                </div>
                <div layout="column" layout-align="center center">
                    <div class="picture"></div>
                    <div class="name"><span>Gate 7 Arrivals.</span></div>
                    <div class="rating">****</div>
                </div>
            </md-content>            
            <!-- Bottom toolbar -->
            <md-toolbar-tools layout="row">
                <md-button class="md-primary" ng-click="ctrl.confirm()">Cancel</md-button>
                <span flex></span>
                <md-button class="md-primary" ng-click="ctrl.confirm()">Confirm</md-button>
            </md-toolbar-tools>
        </md-content>   