        <!-- Container - 1 -->
        <md-content flex class="mainContainer" layout="column" layout-align="center center" 
            ng-show="ctrl.showScreen1">
            <!-- Content -->
            <md-content>
                <div layout="row" layout-align="center center">
                    <h3>Amount to change:</h3>                                
                </div>    
                <div layout="row" layout-align="center center">
                    <md-input-container layout="row" layout-align="center center">
                        <input type="number" ng-model="ctrl.amountInit" style="text-align:center"></input>
                    </md-input-container>                                  
                </div>
                <div layout="row" layout-align="center center">
                    <h3>Currency</h3>                                
                </div>                
                <div class="buttonContainer" layout="row" layout-align="center center">
                    <md-button class="md-accent md-raised" flex>
                        <span><a href="#start">EU</a></span>
                    </md-button>
                    <md-button class="md-accent md-raised" flex>
                        <span><a href="#one">USD</a></span>
                    </md-button>
                    <md-button class="md-accent md-raised" flex>
                        <span>MXN</span>
                    </md-button>
                </div>
                <div layout="row" layout-align="center center">
                    <h3>Select currency you want</h3>                                
                </div>
                <div class="buttonContainer" layout="row" layout-align="center center">
                    <md-button class="md-accent md-raised" flex>
                        <span>EU</span>
                    </md-button>
                    <md-button class="md-accent md-raised" flex>
                        <span>USD</span>
                    </md-button>
                    <md-button class="md-accent md-raised" flex>
                        <span>MXN</span>
                    </md-button>
                </div>
                <div layout="row" layout-align="center center">
                    <h3>That will be:</h3>                                
                </div>
                <div layout="row" layout-align="center center">
                    <h1>{{ctrl.amountInit}}</h1>
                    <h1>MXN</h1>                    
                </div>
            </md-content>

            <!-- Bottom toolbar -->
            <md-toolbar-tools layout="row">
                <span flex></span>
                <md-button class="md-primary" ng-click="ctrl.confirm()">Confirm</md-button>
            </md-toolbar-tools>

            <div ng-view></div>            

        </md-content>