/*Gotham Fonts*/

@font-face {
  font-family: 'Gotham Book';
  src: url('Gotham-Book.eot');
  src: local('☺'), url('Gotham-Book.woff') format('woff'), 
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Bold';
  src: url('Gotham-Bold.eot');
  src: local('☺'), url('Gotham-Bold.woff') format('woff'), 
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Medium';
  src: url('Gotham-Medium.eot');
  src: local('☺'), url('Gotham-Medium.woff') format('woff'), 
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Light';
  src: url('Gotham-Light.eot');
  src: local('☺'), url('Gotham-Light.woff') format('woff'), 
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham XLight';
  src: url('Gotham-XLight.eot');
  src: local('☺'), url('Gotham-XLight.woff') format('woff'), 
  font-weight: normal;
  font-style: normal;
}

/*Roboto Fonts*/

@font-face {
  font-family: 'Roboto Thin';
  font-style: normal;
  font-weight: normal;
  src: local('Roboto Thin'), local('Roboto-Thin') url('Roboto-Thin.woff') format('woff'), 
}

@font-face {
  font-family: 'Roboto Light';
  font-style: normal;
  font-weight: normal;
  src: local('Roboto Light'), local('Roboto-Light') url('Roboto-Light.woff') format('woff'), 
}

@font-face {
  font-family: 'Roboto Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Roboto Regular'), local('Roboto-Regular'), url('Roboto-Regular.woff') format('woff'), 
}

@font-face {
  font-family: 'Roboto Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Roboto Medium'), local('Roboto-Medium'), url('Roboto-Medium.woff') format('woff'), 
}

@font-face {
  font-family: 'Roboto Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Roboto Bold'), local('Roboto-Bold'), url('Roboto-Bold.woff') format('woff'), 
}

@font-face {
  font-family: 'Roboto Black';
  font-style: normal;
  font-weight: normal;
  src: local('Roboto Black'), local(''), url('Roboto-Black.woff') format('woff'), 
}

@font-face {
  font-family: 'Roboto Thin Italic';
  font-style: italic;
  font-weight: normal;
  src: local('Roboto Thin Italic'), local(''), url('Roboto-ThinItalic.woff') format('woff'), 
}

@font-face {
  font-family: 'Roboto Light Italic';
  font-style: italic;
  font-weight: normal;
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url('Roboto-LightItalic.woff') format('woff'), 
}

@font-face {
  font-family: 'Roboto Italic';
  font-style: italic;
  font-weight: normal;
  src: local('Roboto Italic'), local(''), url('Roboto-Italic.woff') format('woff'), 
}

@font-face {
  font-family: 'Roboto Medium Italic';
  font-style: italic;
  font-weight: normal;
  src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url('Roboto-MediumItalic.woff') format('woff'), 
}

@font-face {
  font-family: 'Roboto Bold Italic';
  font-style: italic;
  font-weight: normal;
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url('Roboto-BoldItalic.woff') format('woff'), 
}

@font-face {
  font-family: 'Roboto Black Italic';
  font-style: italic;
  font-weight: normal;
  src: local('Roboto Black Italic'), local('Roboto-BlackItalic'), url('Roboto-BlackItalic.woff') format('woff'), 
}