/* Gotham Embend */
@font-face {
  font-family: 'Gotham Book';
  src: url('fonts/fonts/Gotham-Book.eot');
  src: local('☺'), url('fonts/fonts/Gotham-Book.woff') format('woff'), url('fonts/fonts/Gotham-Book.ttf') format('truetype'), url('fonts/fonts/Gotham-Book.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham Bold';
  src: url('fonts/fonts/Gotham-Bold.eot');
  src: local('☺'), url('fonts/fonts/Gotham-Bold.woff') format('woff'), url('fonts/fonts/Gotham-Bold.ttf') format('truetype'), url('fonts/fonts/Gotham-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham Medium';
  src: url('fonts/fonts/Gotham-Medium.eot');
  src: local('☺'), url('fonts/fonts/Gotham-Medium.woff') format('woff'), url('fonts/fonts/Gotham-Medium.ttf') format('truetype'), url('fonts/fonts/Gotham-Medium.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham Light';
  src: url('fonts/fonts/Gotham-Light.eot');
  src: local('☺'), url('fonts/fonts/Gotham-Light.woff') format('woff'), url('fonts/fonts/Gotham-Light.ttf') format('truetype'), url('fonts/fonts/Gotham-Light.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham XLight';
  src: url('fonts/fonts/Gotham-XLight.eot');
  src: local('☺'), url('fonts/fonts/Gotham-XLight.woff') format('woff'), url('fonts/fonts/Gotham-XLight.ttf') format('truetype'), url('fonts/fonts/Gotham-XLight.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Roboto Embend */
@font-face {
  font-family: 'Roboto Thin';
  font-style: normal;
  font-weight: normal;
  src: local('Roboto Thin'), local('Roboto-Thin') url('fonts/fonts/Roboto-Thin.woff') format('woff'), url('fonts/fonts/Roboto-Thin.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto Light';
  font-style: normal;
  font-weight: normal;
  src: local('Roboto Light'), local('Roboto-Light') url('fonts/fonts/Roboto-Light.woff') format('woff'), url('fonts/fonts/Roboto-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Roboto Regular'), local('Roboto-Regular'), url('fonts/fonts/Roboto-Regular.woff') format('woff'), url('fonts/fonts/Roboto-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Roboto Medium'), local('Roboto-Medium'), url('fonts/fonts/Roboto-Medium.woff') format('woff'), url('fonts/fonts/Roboto-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Roboto Bold'), local('Roboto-Bold'), url('fonts/fonts/Roboto-Bold.woff') format('woff'), url('fonts/fonts/Roboto-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto Black';
  font-style: normal;
  font-weight: normal;
  src: local('Roboto Black'), local(''), url('fonts/fonts/Roboto-Black.woff') format('woff'), url('fonts/fonts/Roboto-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto Thin Italic';
  font-style: italic;
  font-weight: normal;
  src: local('Roboto Thin Italic'), local(''), url('fonts/fonts/Roboto-ThinItalic.woff') format('woff'), url('fonts/fonts/Roboto-ThinItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto Light Italic';
  font-style: italic;
  font-weight: normal;
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url('fonts/fonts/Roboto-LightItalic.woff') format('woff'), url('fonts/fonts/Roboto-LightItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto Italic';
  font-style: italic;
  font-weight: normal;
  src: local('Roboto Italic'), local(''), url('fonts/fonts/Roboto-Italic.woff') format('woff'), url('fonts/fonts/Roboto-Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto Medium Italic';
  font-style: italic;
  font-weight: normal;
  src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url('fonts/fonts/Roboto-MediumItalic.woff') format('woff'), url('fonts/fonts/Roboto-MediumItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto Bold Italic';
  font-style: italic;
  font-weight: normal;
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url('fonts/fonts/Roboto-BoldItalic.woff') format('woff'), url('fonts/fonts/Roboto-BoldItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto Black Italic';
  font-style: italic;
  font-weight: normal;
  src: local('Roboto Black Italic'), local('Roboto-BlackItalic'), url('fonts/fonts/Roboto-BlackItalic.woff') format('woff'), url('fonts/fonts/Roboto-BlackItalic.ttf') format('truetype');
}
