<div class="mainAppContainer">

	<div class="heroSpace">
		<div class="background">
			<div class="space"></div>
			<footer>Carefully crafted by @bersoriano at Brooklyn, NYC</footer>
		</div>
		<div class="heroText">World Class UI
		 <br>Delivered</div>		 
	</div>

	<div class="heroNav">
		<div class="navElement"><a href="https://www.linkedin.com/in/bernardosoriano">LinkedIn</a></div>
		<div class="navElement"><a href="https://twitter.com/bersoriano">Twitter</a></div>
		<div class="navElement"><a href="https://www.instagram.com/bersoriano/">Instagram</a></div>
		<div class="navElement"><a href="mailto:bersoriano@me.com">Mail</a></div>
	</div>

</div>