.container1 {
}
.container2 {
	background-color: aliceblue;
}
.figure1, .figure2, .figure3 {
	border: 1px solid red
}
.color {
	width: 100px;
	height: 100px;
	margin: 10px;
	opacity: 1;
	transition: .2s;
	&:hover {
		opacity: .8;
	};
	&.one {
		background-color: #2196F3;
	}
	&.two {
		background-color: #3F51B5;
	}
	&.three {
		background-color: #009688;

	}
	&.four {
		background-color: #FF9800;

	}
	&.five {
		background-color: #9C27B0;
	}
	.audioCtrl {
		opacity: 0;
	    padding: 40px;
	    width: 20px;
	    height: 20px;		
	}
}
.imageContainer {
	.image {
	    background-image: url(../assets/bob.png);
	    width: 550px;
	    height: 570px;
	    background-size: 550px;
	    background-repeat: no-repeat;
	}
}